<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>

  Email : {{ data }}
  <br>
  <button ion-button color="danger" (click)="clearEmail()">Clear email</button>
  <br>
  <button ion-button color="danger" (click)="getOrders()">getData</button>

  <br>
  <button ion-button color="danger" (click)="getSQLData()">getSQLData</button>
  <br>
  <button ion-button *ngIf="!connectionExist" color="danger">connection no</button>
  <button ion-button *ngIf="connectionExist" color="success">connection success</button>

</ion-content>